<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="bootstrap.css"/>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.4.0/rzslider.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-resource.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.4.0/rzslider.js"></script>

    <script src="script.js"></script>
</head>

<body class="container-fluid" style="padding: 20px" ng-app="root" ng-controller="InsureeCtrl">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><div style="text-align: center; width: 200px"><b>E-Invest</b></div></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="insuree.html">Insuree Cabinet</a></li>
                <li><a href="investor.html">Investor Cabinet</a></li>
                <li><a href="broker.html">Broker Cabinet</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <button type="button" class="btn btn-default" onclick="">Exit</button>
            </form>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div style="width: 800px; margin-left: -400px; position: relative; left: 50%;">
    <h3 style="padding: 20px 0 20px 300px">Insuree Cabinet</h3>
    <form class="form-horizontal" autocomplete="off">
        <div class="ins_form" ng-class="{ins_form_hide: ins_clicked}">
            <hr/>
            <div class="form-group">
                <label for="area" class="col-sm-5 control-label">Area</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <input type="text" class="form-control" id="area" placeholder=""
                            ng-model="apptArea">
                        <div class="input-group-addon">square meters</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="postal" class="col-sm-5 control-label">Postal Code</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="postal" placeholder=""
                        ng-model="postalCode">
                </div>
            </div>

            <hr/>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-8">
                    <button type="button" class="btn btn-lg btn-success"
                            ng-click="ins_show=true; calc(postalCode, apptArea);">Calculate</button>
                </div>
            </div>

            <div class="ins_form1" ng-class="{ ins_show: ins_show }">
                <hr/>
                <div class="form-group">
                    <label for="fullName" class="col-sm-5 control-label">Full Name</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="fullName" placeholder=""
                            ng-model="fullName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="postal" class="col-sm-5 control-label"></label>
                    <div class="col-sm-7"
                         style="font-size: 1.5em; background-color: blanchedalmond; padding: 10px 20px 10px; margin: 0 -15px 0 15px; width: 55%">
                        <div><div class="col-sm-6">Price:</div> <i>{{price | currency:'€':2}}</i></div>
                        <div><div class="col-sm-6">Covered Amount:</div> <i>{{coveredAmt | currency:'€':2}}</i></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-8">
                        <button type="button" class="btn btn-lg btn-success"
                                ng-click="ins_clicked=true">GET INSURANCE</button>
                    </div>
                </div>
                <hr/>
            </div>
        </div>

        <div class="ins_greeting" ng-class="{ ins_greeting_show: ins_clicked}">
            <div style="background-color: blanchedalmond; padding: 20px; font-size: 1.5em; text-align: center">
                <h2>Thank you, {{ fullName || 'insuree' }}!</h2>
                <h2>You are protected now.</h2>
            </div>
        </div>
    </form>
</div>
</body>