<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="bootstrap.css"/>
    <link rel="stylesheet" href="style.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-resource.js"></script>

    <script src="script.js"></script>
</head>

<body class="container-fluid" style="padding: 20px" ng-app="root" ng-controller="InvestCtrl">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><div style="text-align: center; width: 200px"><b>E-Invest</b></div></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="insuree.html">Insuree Cabinet</a></li>
                <li class="active"><a href="investor.html">Investor Cabinet</a></li>
                <li><a href="broker.html">Broker Cabinet</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <button type="button" class="btn btn-default" onclick="">Exit</button>
            </form>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div style="width: 1000px; margin-left: -500px; position: relative; left: 50%;">
    <h3 style="padding: 20px 0 20px 350px">Investor Cabinet</h3>

    <div class="portfolios" ng-class="{ portfolios_hide : investPf != null }">
        <div class="pf" ng-repeat="pf in portfolios">
            <div class="pf_title">{{ pf.title }}</div>
            <div class="pf_descr">{{ pf.descr }}</div>

            <table class="pf_details">
                <tr>
                    <td>Insuree Count</td>
                    <td>130</td>
                </tr>
                <tr>
                    <td>Avg House Area</td>
                    <td>62</td>
                </tr>
                <tr>
                    <td>Average Premium</td>
                    <td>€400.00</td>
                </tr>
                <tr>
                    <td>Average Coverage</td>
                    <td>€20,000.00</td>
                </tr>
                <tr>
                    <td>Total Premium</td>
                    <td>€2,300,000.00</td>
                </tr>
                <tr>
                    <td>Total Coverage</td>
                    <td>€53,700,000.00</td>
                </tr>
            </table>
            
            <button class="btn btn-lg btn-success" type="button"
                ng-click="invest(pf)">Invest</button>
        </div>
    </div>

    <div class="invest_form" ng-class="{invest_form_show : investPf != null}">
        <form class="form-horizontal" autocomplete="off">
            <div class="form-group">
                <label for="" class="col-sm-5 control-label">Investment Period</label>
                <div class="col-sm-7">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">One year</button>
                        <button type="button" class="btn btn-default">6 Months</button>
                        <button type="button" class="btn btn-default">3 Months</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>